# dependencies
node_modules/
client/node_modules/
server/node_modules/

# builds
/dist/
/build/
client/dist/

# env
.env
*.env
server/.env
client/.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# misc
.DS_Store
*.local
